__pycache__/

# Data & Configs
*.pkl
*.wav
input/myinput/*
!input/myinput/*.csv
!input/myinput/*.py
!input/no_unfreezing
working/data.py
working/models.py
working/config.py
working/output
*.tar*
*.gz

# model files
*.pth*
input/myinput/no_unfreezing/*

