__pycache__/

# Data & Configs
*.pkl
*.wav
input/*
!input/*.csv
working/output/*.csv
working/!output/1.csv
*.tar*
*.gz

# model files
*.pth*
working/no_unfreezing/training
working/no_unfreezing/pretraining
working/no_unfreezing/experiment.cfg

